body{
    margin:0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color:  white;
    color: black;
}

header{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

h1{
    font-family: 'Fraunces', serif;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Bubblegum Sans', cursive;
    color: #eaa365;
    text-align: center;
}

/* header styles */
/* write comment here */

header h1{
    color: #d65d1a;
    color: #ef7c3f;
    color: #eaa365;
    color: #ff99ac;
    color: #eaa365;
    color: pink;
    font-size: 70px;
}

header img{
    border-radius: 150px;
    width: 75%;
    width: 300px;
}
/*.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p{
    
}

main img{
    max-width: 100%;
}

h2{
    font-family: 'Bodoni Moda', serif;
    font-size: 30px;
    color: black;
    margin: 40px 0 10px;
    text-align: center;
}

a{
    color: #8e3f21;
    color: #ff99ac;
    text-align: center;
}

a:hover{
    color: pink;
    color: #ff99ac;
    background-color: #fff2ce;
}

footer{
    background-color: #fff2ce;
    background-color: transparent;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Poppins', sans-serif;
    color: #d65d1a;
    color: black;
    color: #eaa365;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: #ff99ac;
    background-color: #fff2ce;
}
footer a:hover{
    opacity: .5;
    background-color: #fff2ce;
}

p.caption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
}

nav{
    height:100px;
    /*background-color: #F5E8E8;*/
    background-color: #ffeab1;
    background-color: white;
    position: sticky;
}



nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0;
    padding: 10px;
    display: block;
    float: left;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-style: bold;
    font-family: 'Bubblegum Sans', cursive;
    color: #eaa365;
    text-align: center;
    text-decoration: none;
    padding: 30px 10px;
}

div.scrollmenu {
    color: #eaa365;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 25px;
    padding: 30px 10px;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    text-decoration: none;
    padding: 30px 20px;
}

#centered{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#quote{
    font-family: 'Bubblegum Sans', cursive;
}

.activeLink{
    color:#d65d1a;
    color: white;
    color: pink;
    color: #ff99ac;
    background-color:#fff2ce;
  }
  
  .inactiveLink{
    color: #eaa365;
    color: black;
    color: #eaa365;  
  }
  
  .activeLink:hover{
    color:#ff99ac;
  }
  
  .inactiveLink:hover{
    color: pink;
    background-color: transparent; 
  }

  div.highlight{
      background-color: #fff2ce;
      margin:0 -8px;
      padding: 0 8px;
  }
.action{

}
p{

}

/*example from skillshare class about changing color if certain font size?)